body {
    background-color: black;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.index_bgi {
    width: 1920px;
    height: 1080px;
    object-fit: cover;
    text-align: center;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Navis */
.navi-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navi-li-left {
    float: left;
}
.navi-li-right {
    float: right;
}
.navi-li-left a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
.navi-li-right a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}